header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 3em;

  nav {
    * {
      padding: 1em;
    }

    :last-child {
      padding-right: 0;
    }
  }
}
